body{
  background-image: url('https://i.pinimg.com/originals/13/44/7a/13447a83190b19a77cea12ea36279c51.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.centerText{
  text-align: center;
  color: #7b1fa2;
}