
.inputButton{
  text-align: center;
  margin: 10px;
}
.parentcontainer{
  height: 200px;
  position: relative;
  
}
.star{
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.star:hover{
  cursor:pointer;
}

.weatherBox{
  text-align: center;
  background-color: #69F0AE;
  width: 230px;
  height: 260px;
  margin: auto;
  font-size: large;
}

.textBox{
  text-align: center;
  background-color: #69F0AE;
  width: 230px;
  height: 100px;
  margin: auto;
  font-size: large;
}

body{
  background-color: #7B1FA2;
  color: #7b1fa2;
  background-image: url('https://openweathermap.org/themes/openweathermap/assets/img/shutterstock_298797602_1.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
