<section>
    <div class="example-button-row">
      <div class="example-flex-container">
        
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" routerLink="/home">
          <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a store icon" routerLink="/store">
          <mat-icon>local_bar</mat-icon>
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon" routerLink="/weather">
          <mat-icon>filter_drama</mat-icon>
        </button>
      </div>
    </div>
  </section>


<router-outlet></router-outlet>